.navbar-slide-down {
    -webkit-animation: navbar-slide-down 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              animation: navbar-slide-down 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes navbar-slide-down {
    0% {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes navbar-slide-down {
    0% {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}