.navbar-slide-down {
    animation: navbar-slide-down 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes navbar-slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.slide-right-main {
    animation: slide-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 0.2s;
}
.slide-right {
    animation: slide-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-right {
    0% {
        transform: translateX(-20%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }   
}

.slide-left {
    animation: slide-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-left {
    0% {
        transform: translateX(20%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }   
}

.slide-down {
    animation: slide-down 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 0.3s;
}
@keyframes slide-down {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }   
}

.slide-up {
    animation: slide-up 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 0.35s;
}
@keyframes slide-up {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }   
}

.slide-left-first {
    animation: slide-feature 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 0.3s;
}
.slide-left-second {
    animation: slide-feature 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 0.3s;
}
.slide-left-third {
    animation: slide-feature 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 0.3s;
}
.slide-left-forth {
    animation: slide-feature 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 0.3s;
}

@keyframes slide-feature {
    0% {
        transform: translateX(50vw);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }   
}

.expand-down {
    animation: expand-down 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes expand-down {
    0% {
        transform: scaleY(0);
        transform-origin: top;
    }
    100% {
        transform: scaleY(1);
        transform-origin: top;
    }   
}